language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - 7.1
  - 7.2
  - nightly

matrix:
  include:
    - php: 7.1
      env: dependencies=lowest
    - php: 7.1
      env: dependencies=highest
    - php: 7.2
      env: dependencies=lowest
    - php: 7.2
      env: dependencies=highest
    - php: nightly
      env: dependencies=lowest
    - php: nightly
      env: dependencies=highest
  fast_finish: true

before_script:
  - if [ -z "$dependencies" ]; then composer install --no-interaction --prefer-dist; fi;
  - if [ "$dependencies" = "lowest" ]; then composer update --prefer-lowest --no-interaction --prefer-dist; fi;
  - if [ "$dependencies" = "highest" ]; then composer update --no-interaction; fi;

after_script:
  - if [ "$TRAVIS_PHP_VERSION" != "nightly" ]; then wget https://scrutinizer-ci.com/ocular.phar; fi
  - if [ "$TRAVIS_PHP_VERSION" != "nightly" ]; then php ocular.phar code-coverage:upload --format=php-clover ./coverage.clover; fi
